server:
  address: 0.0.0.0
  port: ${PORT:8080}     # Render inyecta PORT

spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL}   # jdbc:postgresql://<host>:5432/<db>?sslmode=require
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 2
      minimum-idle: 1
      connection-timeout: 30000
      idle-timeout: 60000
      max-lifetime: 1800000

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  sql:
    init:
      mode: ${SPRING_SQL_INIT_MODE:never}

  h2:
    console:
      enabled: ${H2_CONSOLE_ENABLED:false}
      path: /h2

app:
  cors:
    allowed-origins: "http://localhost:5173,http://localhost:3000,https://andresrioo.github.io"
